---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { readdirSync } from "fs";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: {
      ...project,
      images: readdirSync("public/" + project.slug),
    },
  }));
}
type Props = CollectionEntry<"project"> & { images: string[] };

const project = Astro.props;
const { Content } = await project.render();
---

<Layout description={project.data.description}>
  <article>
    <div class="title">
      <h1>{project.data.title}</h1>
    </div>

    <Content />

    <div class="images">
      {
        project.images &&
          project.images.map((image) => (
            <Image
              alt=""
              width={1020}
              height={510}
              src={"/" + project.slug + "/" + image}
            />
          ))
      }
    </div>
  </article>
</Layout>
