---
import { Image } from "astro:assets";
import Layout from "../components/Layout.astro";
---

<Layout>
  <section>
    <Image alt="" width={1020} height={510} src="/home.jpg" />
  </section>
</Layout>
