---
import { Image } from "astro:assets";
import image from "../../public/home.jpg";
import Layout from "../components/Layout.astro";
---

<Layout>
  <section>
    <Image alt="" src={image} />
  </section>
</Layout>
