---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Nav from "./Nav.astro";

const { description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <Nav />
      <slot />
    </main>
    <Footer />
  </body>
</html>
