---
import { getCollection } from "astro:content";
import NavLink from "./NavLink.astro";

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)
---

<nav>
  <ul>
    {
      projects.map((project) => (
        <li>
          <NavLink href={"/projects/" + project.slug}>
            {project.data.title}
          </NavLink>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
