---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";
import Footer from "../../../components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const postsPerYear = (await getCollection("blog")).reduce((acc, post) => {
    const year = post.data.pubDate.getFullYear();
    if (!acc[year]) {
      acc[year] = [];
    }

    acc[year]!.push(post);
    return acc;
  }, [] as CollectionEntry<"blog">[][]);
  const years = [
    ...new Set(posts.map((post) => post.data.pubDate.getFullYear())),
  ];

  return years.map((year) => ({
    params: { year: year },
    props: postsPerYear[year],
  }));
}
type Props = CollectionEntry<"blog">[];

const posts = Object.values(Astro.props);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/post/${post.slug}/`}>{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
